<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.ReportMapper">

	<resultMap type="java.util.Map" id="drainMap">
	
		<result column="RN" property="RN"/>
		
		<association property="drain" javaType="com.atguigu.crm.entity.CustomerDrain">
			<result column="date" property="drainDate"/>
			<result column="reason" property="reason"/>
			<result column="customerName" property="customer.name"/>
			<result column="managerName" property="customer.manager.name"/>
		</association>
	</resultMap>

	<select id="getDrainContent" resultMap="drainMap">
		SELECT * 
		FROM(
			SELECT rownum rn, cd.drain_date AS "date", cd.reason AS "reason", c.name AS "customerName", con.name AS "managerName"
			FROM customer_drains cd
			LEFT OUTER JOIN customers c
			ON cd.customer_id = c.id
			LEFT OUTER JOIN contacts con
			ON c.manager_id = con.id
			<include refid="drainCondition"/>
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>
	
	<select id="getDrainTotalElements" resultType="long">
		SELECT count(*)
		FROM customer_drains cd
		LEFT OUTER JOIN customers c
		ON cd.customer_id = c.id
		LEFT OUTER JOIN contacts con
		ON c.manager_id = con.id
		<include refid="drainCondition"/>
	</select>
	
	<sql id="drainCondition">
		<where>
			<if test="customer_name != null">
				AND c.name LIKE #{customer_name}
			</if>
			<if test="customer_manager_name != null">
				AND con.name LIKE #{customer_manager_name}
			</if>
		</where>
	</sql>

	<select id="getServiceExcelList" resultType="java.util.Map">
	<!--  	所有用户信息放到一张表里，最上面写查询日期
			需要的列有：
			客户等级
			客户名称
			客户经理
			客户联系方式（电话，网址）
			客户地区
			客户信用度
			客户满意度
			已付款总金额
			未付款总金额
			（总金额需要查order_items表计算）AND o_in.customer_id = c.id-->
		SELECT c.customer_level AS　"LEVEL", c.name, c.tel, c.websit, c.region, c.satify, c.credit, m.name AS "MNAME",
			
			(SELECT sum(p.price*oi.item_count)
	        FROM (
	        	SELECT *
		    	FROM orders
		    	<include refid="excelCondition"/> 
	        	) o_in
	        LEFT OUTER JOIN order_items oi
	        ON o_in.id = oi.order_id
	        LEFT OUTER JOIN products p
	        ON p.id = oi.product_id
	        LEFT OUTER JOIN customers c_in
	        ON c_in.id = o_in.customer_id
	        WHERE o_in.status = '已付款'
	        AND c_in.id = c.id) AS "payed",
	        
	        (SELECT sum(p.price*oi.item_count)
	        FROM (
	        	SELECT *
		    	FROM orders
		    	<include refid="excelCondition"/> 
	        	) o_in
	        LEFT OUTER JOIN order_items oi
	        ON o_in.id = oi.order_id
	        LEFT OUTER JOIN products p
	        ON p.id = oi.product_id
	        LEFT OUTER JOIN customers c_in
	        ON c_in.id = o_in.customer_id
	        WHERE o_in.status = '未付款'
	        AND c_in.id = c.id) AS "unpayed"
	        
	    FROM customers c
	    LEFT OUTER JOIN contacts m
	    ON c.manager_id = m.id
	    INNER JOIN (
	    	SELECT *
	    	FROM orders
	    	<include refid="excelCondition"/> 
	    	) o
	    ON o.customer_id = c.id
	    LEFT OUTER JOIN order_items oi
	    ON o.id = oi.order_id
	    LEFT OUTER JOIN products p
	    ON p.id = oi.product_id
	    WHERE customer_level IS NOT NULL
	    GROUP BY c.id, c.customer_level, c.name, c.tel, c.websit, c.region, c.satify, c.credit, m.name
	    ORDER BY c.customer_level
	</select>
	
	<sql id="excelCondition">
		<where>
			<if test="minOrderDate != null">
				order_date >= #{minOrderDate}
			</if>
			<if test="maxOrderDate != null">
				<![CDATA[
				AND order_date <= #{maxOrderDate}
				]]>
			</if>
		</where>
	</sql>

	<select id="getServiceContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT t.*, rownum rn
			FROM(
				SELECT c.customer_level AS "level", count(*) AS "num"
				FROM customers c
				INNER JOIN (
			    	SELECT *
			    	FROM orders
			    	<include refid="serviceCondition"/> 
			    	) o
				ON o.customer_id = c.id
				WHERE customer_level IS NOT NULL
				GROUP BY c.customer_level
				ORDER BY c.customer_level
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getServiceTotalElements" resultType="long">
		SELECT count(count(*))
		FROM customers c
		INNER JOIN (
	    	SELECT *
	    	FROM orders
	    	<include refid="serviceCondition"/> 
	    	) o
		ON o.customer_id = c.id
		WHERE customer_level IS NOT NULL
		GROUP BY c.customer_level
	</select>

	<sql id="serviceCondition">
		<where>
			<if test="minOrderDate != null">
				order_date >= #{minOrderDate}
			</if>
			<if test="maxOrderDate != null">
				<![CDATA[
				AND order_date <= #{maxOrderDate}
				]]>
			</if>
		</where>
	</sql>

	<select id="getConsistMap" resultType="java.util.Map">
		SELECT ${type} AS "type", count(*) AS "num"
		FROM customers
		WHERE ${type} IS NOT NULL
		GROUP BY ${type}
	</select>

	<select id="getConsistContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT t.*, rownum rn
			FROM(
				SELECT ${type} AS "type", count(*) AS "num"
				FROM customers
				WHERE ${type} IS NOT NULL
				GROUP BY ${type}
				ORDER BY ${type}
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getConsistTotalElements" resultType="long">
		SELECT
		count(count(*))
		FROM customers
		WHERE ${type} IS NOT NULL
		GROUP BY ${type}
	</select>

	<select id="getContributeContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT rownum rn, t.*
			FROM(
				SELECT c.name AS "custName", sum(oi.item_count * p.price) AS "totalMoney"
				FROM customers c
				INNER JOIN orders o
				ON o.customer_id = c.id
				INNER JOIN order_items oi
				ON oi.order_id = o.id
				INNER JOIN products p
				ON oi.product_id = p.id
				<include refid="contributeCondition" />
				GROUP BY c.name
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getContributeTotalElements" resultType="long">
		SELECT count(DISTINCT c.id)
		FROM customers c
		INNER JOIN orders o
		ON o.customer_id = c.id
		<include refid="contributeCondition" />
	</select>

	<sql id="contributeCondition">
		<where>
			<if test="custName != null">
				c.name LIKE #{custName}
			</if>
			<if test="minOrderDate != null">
				AND o.order_date >= #{minOrderDate}
			</if>
			<if test="maxOrderDate != null">
				<![CDATA[
				AND o.order_date <= #{maxOrderDate}
				]]>
			</if>
		</where>
	</sql>
</mapper>