<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.ReportMapper">

	<resultMap type="java.util.Map" id="drainMap">
	
		<result column="RN" property="RN"/>
		
		<association property="drain" javaType="com.atguigu.crm.entity.CustomerDrain">
			<result column="date" property="drainDate"/>
			<result column="reason" property="reason"/>
			<result column="customerName" property="customer.name"/>
			<result column="managerName" property="customer.manager.name"/>
		</association>
	</resultMap>

	<select id="getDrainContent" resultMap="drainMap">
		SELECT * 
		FROM(
			SELECT rownum rn, cd.drain_date AS "date", cd.reason AS "reason", c.name AS "customerName", con.name AS "managerName"
			FROM customer_drains cd
			LEFT OUTER JOIN customers c
			ON cd.customer_id = c.id
			LEFT OUTER JOIN contacts con
			ON c.manager_id = con.id
			<include refid="drainCondition"/>
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>
	
	<select id="getDrainTotalElements" resultType="long">
		SELECT count(*)
		FROM customer_drains cd
		LEFT OUTER JOIN customers c
		ON cd.customer_id = c.id
		LEFT OUTER JOIN contacts con
		ON c.manager_id = con.id
		<include refid="drainCondition"/>
	</select>
	
	<sql id="drainCondition">
		<where>
			<if test="customer_name != null">
				AND c.name LIKE #{customer_name}
			</if>
			<if test="customer_manager_name != null">
				AND con.name LIKE #{customer_manager_name}
			</if>
		</where>
	</sql>

	<select id="getServiceContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT t.*, rownum rn
			FROM(
				SELECT c.customer_level AS "level", count(*) AS "num"
				FROM customers c
				INNER JOIN orders o
				ON o.customer_id = c.id
				WHERE customer_level IS NOT NULL
				<include refid="serviceCondition" />
				GROUP BY customer_level
				ORDER BY customer_level
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getServiceTotalElements" resultType="long">
		SELECT count(count(*))
		FROM customers c
		INNER JOIN orders o
		ON o.customer_id = c.id
		WHERE customer_level IS NOT NULL
		<include refid="serviceCondition" />
		GROUP BY customer_level
	</select>

	<sql id="serviceCondition">
		<if test="minOrderDate != null">
			AND o.order_date >= #{minOrderDate}
		</if>
		<if test="maxOrderDate != null">
			<![CDATA[
			AND o.order_date <= #{maxOrderDate}
			]]>
		</if>
	</sql>

	<select id="getConsistContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT t.*, rownum rn
			FROM(
				SELECT ${type} AS "type", count(*) AS "num"
				FROM customers
				WHERE ${type} IS NOT NULL
				GROUP BY ${type}
				ORDER BY ${type}
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getConsistTotalElements" resultType="long">
		SELECT
		count(count(*))
		FROM customers
		WHERE ${type} IS NOT NULL
		GROUP BY ${type}
	</select>

	<select id="getContributeContent" resultType="java.util.Map">
		SELECT *
		FROM(
			SELECT rownum rn, t.*
			FROM(
				SELECT c.name AS "custName", sum(oi.item_count * p.price) AS "totalMoney"
				FROM customers c
				INNER JOIN orders o
				ON o.customer_id = c.id
				INNER JOIN order_items oi
				ON oi.order_id = o.id
				INNER JOIN products p
				ON oi.product_id = p.id
				<include refid="contributeCondition" />
				GROUP BY c.name
			) t
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getContributeTotalElements" resultType="long">
		SELECT count(DISTINCT c.id)
		FROM customers c
		INNER JOIN orders o
		ON o.customer_id = c.id
		<include refid="contributeCondition" />
	</select>

	<sql id="contributeCondition">
		<where>
			<if test="custName != null">
				c.name LIKE #{custName}
			</if>
			<if test="minOrderDate != null">
				AND o.order_date >= #{minOrderDate}
			</if>
			<if test="maxOrderDate != null">
				<![CDATA[
				AND o.order_date <= #{maxOrderDate}
				]]>
			</if>
		</where>
	</sql>
</mapper>